@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');

/* font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive; */

:root {
    --azul-50: #f0f9ff;
    --azul-100: #e0f3fe;
    --azul-200: #bae8fd;
    --azul-300: #7ed6fb;
    ;
    --azul-400: #39c1f7;
    ;
    --azul-500: #0faae8;
    ;
    --azul-600: #0391d3;
    ;
    --azul-700: #000001;
    ;
    --azul-800: #085c84;
    ;
    --azul-900: #0c4c6e;
    ;
    --azul-950: #083049;
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    padding-top: 1vh;
    padding-bottom: 5vh;
    background-image: url(https://i.ibb.co/gdY9zGZ/Portda.webp);
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(70%);
}

#encabezado {
    width: 100%;
    min-width: 300px;
    height: 10vh;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #08304900;
}

#contenedorLogo {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Logo {
    /* color: #e8f1ff;
    font-family: 'Dancing Script', cursive;
    font-size: 4vw;
    text-decoration: none; */
    width: 50%;
}

.dropdown-btn {
    display: none;
}

.dropdown-content {
    display: flex;
    color: #e8f1ff;
    ;
}

.dropdown-content a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #e8f1ff;
    ;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 2vw;
}

.headerTexImgInicio {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.contenedorElementosTexImagenPrincipalHeader {
    width: 50%;
    text-align: start;
    font-size: 5vw;
    margin-left: 1vw;
    color: white;
    /* text-shadow: #333 2px 3px 5px; */
    text-shadow: #000000 2px 3px 5px, #3b3535 5px 6px 10px;
}


/* FIN DE HEADER */


/* MAIN */

main {
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AlineadorElementosMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Texto de introduccion */

.TextoIntroductorio {
    background-image: url(https://i.ibb.co/pvh5ckK/J-y.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.TextoIntroductorio article {
    width: 100%;
    height: 100%;
    padding: 5vh;
    text-align: left;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(67, 66, 66, 0.666);
    color: white;
}

.TextoIntroductorio h4 {
    font-size: 6vw;
    margin-bottom: 3vh;
}

.tiempoJuntosMain {
    width: 100%;
    height: 35vh;
    background-image: url(https://i.ibb.co/8jNzzPk/Video-de-a-os-juntos-de-la-seccion-de-aniversario.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tiempoJuntosMain .estructuraTiempoJuntos {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background-color: #0391d355;
}

.tiempoJuntosMain h2 {
    font-size: 14vw;
}

.tiempoJuntosMain .organizadoFechas {
    width: 70%;
    margin: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


/* Mensajes Bonitos */

.contenedorMensajesBonitosAmigos {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    /* background-color: var(--azul-950); */
}

.titleElementosMensajesBonitos {
    position: relative;
    float: left;
    background: rgba(255, 255, 255, 0);
    color: var(--azul-400);
    font-size: 16vw;
}

.titleElementosMensajesBonitos b {
    color: var(--azul-600);
}

.titleElementosMensajesBonitos span {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    border-left: 1px solid var(--azul-800);
    animation: escribir 3s steps(14) infinite alternate;
}

@keyframes escribir {
    from {
        width: 100%
    }
    to {
        width: 0
    }
}

.alineadorElementosMensajesBonitos {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
    border-top: 1px var(--azul-200) solid;
}

.EstructuraElementos {
    height: 60vh;
    padding: 3vh;
    flex: 0 0 250px;
    margin: 10px;
    /* background-color: var(--azul-300);
    border: 3px solid var(--azul-950); */
    text-align: center;
    overflow-x: hidden;
    border-radius: 16%;
    color: black;
    font-style: italic;
}

.EstructuraElementos article {
    padding: 15px;
}

.imgNombre {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.imgNombre img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}


/* Carta Feliz Aniversario*/

.contenedorCartaFelizAniversario {
    width: 100%;
    height: 80vh;
    padding: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.articleCartaFelizAniversaro {
    width: 88%;
    height: 100%;
    font-size: 2vh;
    text-align: center;
    overflow: scroll;
    background-color: white;
}

.articleCartaFelizAniversaro h2 {
    font-size: 3vh;
    text-align: start;
    margin: 4vh;
}

.articleCartaFelizAniversaro p {
    margin: 2vh;
}


/* Telefonos */

.contendorTelefonos {
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.alineadorTelefonos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.separadoresTelefonos {
    width: 100%;
    height: 60vh;
    background-color: var(--azul-200);
}

.separadoresTelefonosUno {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.separadoresTelefonosDos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.telefono {
    width: 200px;
    height: 400px;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 9%;
    border-top: 20px solid black;
    border-bottom: 15px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    background-size: cover;
    background-repeat: no-repeat;
}

.contenderoHoraTelefono {
    width: 90%;
    text-align: center;
    color: white;
    text-shadow: #000000 2px 3px 5px, #3b3535 5px 6px 10px;
}

.contenderoHoraTelefono h2 {
    margin-top: 2vh;
    font-size: 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: #000000 2px 3px 5px, #3b3535 5px 6px 10px;
}

.contenderoHoraTelefono p {
    font-size: 3vw;
    text-shadow: #000000 2px 3px 5px, #3b3535 5px 6px 10px;
}

.centroNotificaciones {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NotificacionesIndividuales {
    width: 90%;
    border-radius: 16px;
    padding: 1rem;
    margin: .3vh 0px;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.816);
}

.NotificacionesIndividuales img {
    width: 15%;
    margin-right: 2vw;
}

.textoNotificacion {
    width: 85%;
    text-align: start;
    font-size: 4vw;
}

.telefonoUNO {
    background-image: url(https://i.ibb.co/zFvSpk0/IMG-20240427-181538.webp);
    background-position: left;
}

.telefonoDOS {
    background-image: url(https://i.ibb.co/fqjRGL3/IMG-20240516-WA0009.webp);
    background-position: center;
}

.texTelefono {
    width: 30%;
    text-align: center;
}


/* Linea de tiempo */

.contendeorLineaDeTiempo {
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-top: 6vh;
}

.contendeorLineaDeTiempo h2 {
    width: 100%;
    text-align: center;
    font-size: 8vw;
    color: var(--azul-600);
    /* background-color: var(--azul-400); */
}

.contendeorLineaDeTiempo h4 {
    width: 100%;
    text-align: start;
    font-size: 4vw;
    color: var(--azul-800);
    margin-top: 2vh;
    padding-left: 1rem;
    font-weight: bold;
    /* background-color: var(--azul-400); */
}

.alineadorLineaDeTiempo {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    /* background-color: var(--azul-400); */
    overflow-x: auto;
}

.TarjetasIndividaules {
    width: 300px;
    /* height: 300px; */
    margin: 2vh 2vw;
    flex: 0 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: black solid 2px; */
    border-radius: 13%;
    color: black;
    font-size: 3vw;
}

.TarjetasIndividaules img {
    width: 78%;
    border-radius: 14%;
    aspect-ratio: 3/4;
}

.TarjetasIndividaules .fechas {
    width: 90%;
    text-align: center;
    padding: 1vh;
    border-radius: 10%;
    /* background-color: var(--azul-800); */
}

.text {
    text-align: center;
    background: none;
}

.TarjetasIndividaules:hover {
    font-size: 3vw;
    flex: 0 0 170px;
    color: black;
}

.TarjetasIndividaules hr {
    width: 70%;
    height: 2px;
    background: grey;
    margin-bottom: 5px;
}


/* video Feliz aniversario */

.contenedorVideoFelizAniversario {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.ibb.co/X2dK1Fb/Portada-video-2-A-os-Juntos.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.AlineadorElementodsFelizaniversarioVideo {
    width: 90%;
    height: 80%;
    font-size: 6vw;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: #cfcfcf 4px 4px 8px, #797878 7px 8px 15px;
    background-color: rgba(255, 255, 255, 0.543);
}

.AlineadorElementodsFelizaniversarioVideo a {
    font-size: 4.4vw;
    color: black;
    text-decoration: none;
    margin-top: 4vh;
    padding: 2vw;
    border-radius: 16px;
    background-color: #bae8fdcd;
}

footer {
    width: 100%;
    height: 100%;
    min-width: 320px;
    text-align: center;
    border: none;
    color: var(--azul-950);
    display: flex;
    flex-direction: column;
}

.contenidoPiePagina {
    margin: 0 auto;
    background-color: var(--azul-600);
}

.contenidoPiePagina p {
    margin-bottom: 10px;
    font-size: 3vw;
}

.linksPiePagina {
    list-style: none;
    padding: 0;
}

.linksPiePagina li {
    display: inline;
    margin-right: 15px;
}

.linksPiePagina li:last-child {
    margin-right: 0;
}

.linksPiePagina a {
    text-decoration: none;
    color: var(--azul-800);
    font-size: 3vw;
    font-weight: bold;
}

#textMiTodo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.DerechosReservados {
    font-size: 2vw;
}

.elementos-Mi-todo {
    color: rgba(255, 255, 255, 0.792);
    font-size: 0.8rem;
    width: 20%;
    margin: 10px;
}

@media (max-width: 700px) {
    /* Menu */
    .dropdown {
        position: relative;
        z-index: 999;
    }
    .dropdown-btn {
        display: block;
        color: #e8f1ff;
        ;
        background: rgba(0, 0, 0, 0);
        border: none;
    }
    .dropdown-content a {
        flex-direction: row-reverse;
        border-bottom: 1px solid rgb(0, 157, 255);
        padding: 20px;
        font-size: 3vw;
    }
    .dropdown-content a:hover {
        background: #011C40;
        color: rgb(192, 225, 255);
    }
    .dropdown-content a:active {
        background: #083049;
        color: rgb(192, 225, 255);
    }
    .dropdown-content {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 20px;
        right: -200%;
        background-color: rgba(0, 0, 0, 0.874);
    }
    .dropdown-content.active {
        height: 100vh;
        width: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


/* animaciones de esta pagina */


/* animacion de texto, centrarce y expandir */

.focus-in-expand {
    -webkit-animation: focus-in-expand 1s .3s;
    animation: focus-in-expand 1s .3s
}

@-webkit-keyframes focus-in-expand {
    0% {
        letter-spacing: -.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0
    }
    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
    0% {
        letter-spacing: -.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0
    }
    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
    0% {
        letter-spacing: -.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0
    }
    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0
    }
    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
    0% {
        letter-spacing: -.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0
    }
    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
    0% {
        letter-spacing: -.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0
    }
    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}


/* Efecto Entrada */

.efectoentrada {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 2s, transform 2s;
}

.efectoentrada.active {
    opacity: 1;
    transform: translateY(0);
}