@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');

/* font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive; */

:root {
    --azul-50: #f0f9ff;
    --azul-100: #e0f3fe;
    --azul-200: #bae8fd;
    --azul-300: #7ed6fb;
    ;
    --azul-400: #39c1f7;
    ;
    --azul-500: #0faae8;
    ;
    --azul-600: #0391d3;
    ;
    --azul-700: #000001;
    ;
    --azul-800: #085c84;
    ;
    --azul-900: #0c4c6e;
    ;
    --azul-950: #083049;
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    padding-top: 1vh;
    padding-bottom: 5vh;
    background-image: url(https://i.ibb.co/NLdSJQR/portada-Feliz-Aniversario.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#encabezado {
    width: 100%;
    min-width: 300px;
    height: 10vh;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #08304900;
}

#contenedorLogo {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Logo {
    /* color: #e8f1ff;
    font-family: 'Dancing Script', cursive;
    font-size: 4vw;
    text-decoration: none; */
    width: 50%;
}

.dropdown-btn {
    display: none;
}

.dropdown-content {
    display: flex;
    color: #e8f1ff;
    ;
}

.dropdown-content a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #e8f1ff;
    ;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 2vw;
}

.headerTexImgInicio {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.contenedorElementosTexImagenPrincipalHeader {
    width: 50%;
    text-align: start;
    font-size: 5vw;
    margin-left: 1vw;
    color: white;
    /* text-shadow: #333 2px 3px 5px; */
    text-shadow: #000000 2px 3px 5px, #3b3535 5px 6px 10px;
}


/* FIN DE HEADER */


/* MAIN */

main {
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AlineadorElementosMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Texto de introduccion */

.TextoIntroductorio {
    background-image: url(https://i.ibb.co/2Mp4R2D/Se-toman-de-la-mano-saliendo-de-un-telefono.png);
    background-size: 20%;
    background-repeat: repeat;
}

.TextoIntroductorio article {
    width: 100%;
    height: 100%;
    padding: 5vh;
    text-align: left;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(237, 237, 237, 0.892);
}

.TextoIntroductorio h4 {
    font-size: 6vw;
    margin-bottom: 3vh;
}

.tiempoJuntosMain {
    width: 100%;
    height: 25vh;
    background-image: url(https://i.ibb.co/8jNzzPk/Video-de-a-os-juntos-de-la-seccion-de-aniversario.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tiempoJuntosMain .estructuraTiempoJuntos {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background-color: #0391d355;
}

.tiempoJuntosMain h2 {
    font-size: 14vw;
}

.tiempoJuntosMain .organizadoFechas {
    width: 70%;
    margin: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


/* Mensajes Bonitos */

.contenedorMensajesBonitosAmigos {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

.titleElementosMensajesBonitos {
    position: relative;
    float: left;
    background: rgb(255, 255, 255);
    color: var(--azul-400);
    font-size: 16vw;
}

.titleElementosMensajesBonitos b {
    color: var(--azul-900);
}

.titleElementosMensajesBonitos span {
    position: absolute;
    right: 0;
    width: 0;
    background: rgb(255, 255, 255);
    border-left: 1px solid var(--azul-800);
    animation: escribir 2s steps(14) infinite alternate;
}

@keyframes escribir {
    from {
        width: 100%
    }
    to {
        width: 0
    }
}

.alineadorElementosMensajesBonitos {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
}

.EstructuraElementos {
    height: 45vh;
    padding: 3vh;
    flex: 0 0 250px;
    margin: 10px;
    background-color: var(--azul-300);
    border: 3px solid var(--azul-950);
    text-align: center;
    overflow-x: auto;
    border-radius: 16%;
}

.EstructuraElementos article {
    padding: 15px;
    color: var(--azul-950);
}

.imgNombre {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.imgNombre img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}


/* Carta Feliz Aniversario*/

.contenedorCartaFelizAniversario {
    width: 100%;
    height: 80vh;
    padding: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.articleCartaFelizAniversaro {
    width: 88%;
    height: 100%;
    font-size: 2vh;
    text-align: center;
    overflow: scroll;
    background-color: white;
}

.articleCartaFelizAniversaro h2 {
    font-size: 3vh;
    text-align: start;
    margin: 4vh;
}

.articleCartaFelizAniversaro p {
    margin: 2vh;
}


/* video Feliz aniversario */

.contenedorVideoFelizAniversario {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.ibb.co/X2dK1Fb/Portada-video-2-A-os-Juntos.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.AlineadorElementodsFelizaniversarioVideo {
    width: 90%;
    height: 80%;
    font-size: 6vw;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: #cfcfcf 4px 4px 8px, #797878 7px 8px 15px;
    background-color: rgba(255, 255, 255, 0.543);
}

.AlineadorElementodsFelizaniversarioVideo a {
    font-size: 4.4vw;
    color: black;
    text-decoration: none;
    margin-top: 4vh;
    padding: 2vw;
    border-radius: 16px;
    background-color: #bae8fdcd;
}

footer {
    width: 100%;
    height: 100%;
    min-width: 320px;
    text-align: center;
    border: none;
    color: var(--azul-950);
    display: flex;
    flex-direction: column;
}

.contenidoPiePagina {
    margin: 0 auto;
    background-color: var(--azul-600);
}

.contenidoPiePagina p {
    margin-bottom: 10px;
    font-size: 3vw;
}

.linksPiePagina {
    list-style: none;
    padding: 0;
}

.linksPiePagina li {
    display: inline;
    margin-right: 15px;
}

.linksPiePagina li:last-child {
    margin-right: 0;
}

.linksPiePagina a {
    text-decoration: none;
    color: var(--azul-800);
    font-size: 3vw;
    font-weight: bold;
}

#textMiTodo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.DerechosReservados {
    font-size: 2vw;
}

.elementos-Mi-todo {
    color: rgba(255, 255, 255, 0.792);
    font-size: 0.8rem;
    width: 20%;
    margin: 10px;
}

@media (max-width: 700px) {
    /* Menu */
    .dropdown {
        position: relative;
        z-index: 999;
    }
    .dropdown-btn {
        display: block;
        color: #e8f1ff;
        ;
        background: rgba(0, 0, 0, 0);
        border: none;
    }
    .dropdown-content a {
        flex-direction: row-reverse;
        border-bottom: 1px solid rgb(0, 157, 255);
        padding: 20px;
        font-size: 3vw;
    }
    .dropdown-content a:hover {
        background: #011C40;
        color: rgb(192, 225, 255);
    }
    .dropdown-content a:active {
        background: #083049;
        color: rgb(192, 225, 255);
    }
    .dropdown-content {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 20px;
        right: -200%;
        background-color: rgba(0, 0, 0, 0.874);
    }
    .dropdown-content.active {
        height: 100vh;
        width: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}