body{
    background: rgb(0, 0, 0);
}

.contenedorPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../Multimedia/Busqueda_del_Tesoro/fondo.jpg);
    width: 100%;
}

.Encabezado{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../Multimedia/Busqueda_del_Tesoro/Fondo_de_estrellas.jpg);
    background-size: cover;
    background-size: cover;
    border-radius: 20px;
    padding: 20px, ;
}

.title{
    color: white;
    padding-top: 20px;
    text-align: center;
}

.seccionBotonesGestion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.218);
    padding: 15px;
    border-radius: 20px;
}

.botonesbarraInferior{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nombreBotones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nombreBotones p{
    text-align: center;
    color: white;
}

.material-symbols-outlined {
    text-align: center;
    width: 100%;
    color: rgb(238, 232, 232);
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#botonAtras{
    color: rgba(128, 128, 128, 0.121);
}

.cartaAlJugador{
    background-color: rgba(31, 30, 30, 0.055);
}

.Descripcion{
    width: 90%;
    padding: 10px;
    text-align: center;
    color: aliceblue;
}

/* Game */

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background: rgba(83, 6, 155, 0.477);
    padding: 15px;
    margin-top: 10px;
    color: white;
}

#nivelcero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botonConmienzoJuego{
    width: 70%;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 140%;
    background: rgba(0, 0, 0, 0.445);
    border-radius: 20px;
    padding: 10px;
}

.botonConmienzoJuego:active{
    background: rgb(83, 6, 155);
}

.titleIntrucciones{
    /* por ahora nada que agregar */
}

.logoWhatsApp{
    margin-top: 10px;
    width: 50px;
}