.carousel-container {
    position: relative;
    width: 70%;
    height: max-content;
    overflow: hidden;
    margin: 40px auto;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s cubic-bezier(1, -0.3, 0.49, 0.76);
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  