 @import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Noto+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');


/* font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive; */


/* font-family: 'Lovers Quarrel', cursive; logo
font-family: 'Noto Serif', serif; body
font-family: 'Goudy Bookletter 1911', serif; #Notas*/
/* font-family: 'Sofia Sans Condensed', sans-serif; otros */

  
body{
    background: black;
    color: #827C78;
}

.contenedorPrincipal{
    background: rgb(18,11,155);
    background: linear-gradient(0deg, rgba(18,11,155,1) 0%, rgba(7,0,36,1) 60%);
    margin-bottom: 30px;
}
  
.alinearEncabezado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 80px;
  width: 100%;
  /* top: 0;
  position: sticky;
  z-index: 999; */
}

#encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background: black;
  padding: 10px;
  width: 95%;
  font-size: 13px;
}
#contenedorLogo{
    display: flex;
    flex-direction: row;
    align-items: center;

}

#contenedorLogo img{
    width: 15%;
}

.Logo{
    color: #C5C5C5;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 120%;
}



                    /* Menu */
.dropdown {
    position: relative;

}
.dropdown-btn{
    color: #C5C5C5;
    background: black;
    border: none;
}
.dropdown-content a{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-bottom: 5px; 
    border-bottom: 1px solid #827C78;
    padding: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    width: 100vh;
    height: 100vh;
    right: 100%;
    background-color: black;
    

}
    
.dropdown-content.active {
    display: block;
}
    



/* Imagen */

.contenedorImagenInicioPagina{
    width: 100%;
    height: 250px;
}

.contenedorImagenInicioPagina video{
    width: 100%;

}



#imagenInicioPaginaHistoria{
    width: 50%;
}

.material-symbols-outlined {
    text-align: center;
    width: 100%;
    color: #005195;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-outlined {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }


/* Contenido */

#ContenedorGeneral{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.botonesElElla{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.botonElla{
    background-color: #003A69;
    padding: 10px;
    border-radius: 10px;
    color: #827C78;
    text-align: center;
    text-decoration: none;
}
  
.botonElla {
    animation-name: pulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
  }

.botonEl{
    background-color: #003A69;
    padding: 10px;
    border-radius: 10px;
    color: #827C78;
    text-align: center;
    text-decoration: none;
}

.botonEl {
    animation-name: pulse;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }

.botonElla {
    animation-name: pulse;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }


.listadecartas{
    width: 90%;
    border-radius: 20px;
    list-style: none;
    background: rgb(7,0,36);
    background: radial-gradient(circle, rgba(7,0,36,1) 0%, rgba(6,58,160,1) 0%);background: rgb(6,58,160);
    background: radial-gradient(circle, rgba(6,58,160,1) 0%, rgba(7,0,36,1) 45%);
    font-size: 70%;
}

.list{
    padding: 0;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: start;
    
}

.list li{
    margin: 05px;
    font-size: 80%;
}

.list a{
    margin-top: 0px;
    color: #d7d6d5d8;
    text-decoration: none;
}
/* Cartas de El */

.titleCartasEl{
    background-color: black;
    color: #005195;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    position: sticky;
    top: 0;
    scroll-snap-align: start;
}


.volverArriba{
    position: fixed;
    top: 80vh;
    left:  80%;
    border: 1px solid #827C78;
    color: #827C78;
    width: min-content;
    background: #000000;
    border-radius: 10px;
    padding: 5px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.titleCartasEl{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
  }
  
.titleCartasEl.active {
    opacity: 1;
    transform: translateY(0);
}

.titleCartasEl:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}
              

.titleCartasEl img{
    width: 10vh;
    border-radius: 30%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    
}

.titleCartasEl img {
    animation-name: pulse;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }


.contenedorElementosCartas{
    margin: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 90%;
    color: #C5C5C5;
    background: #003a69a9;
    border: 3px;
    border-radius: 20px;
    margin-bottom: 30px;
}

#ContenedorCarta {
    width: 80%;
    height: 40vh;
    overflow: auto;
    padding: 5%;
    border-radius: 20px;
  }
  
  #ContenedorCarta::-webkit-scrollbar {
    width: 8px;
    border-radius: 0          px;
  }
  
  #ContenedorCarta::-webkit-scrollbar-track {
    background-color: #005195;
  }
  
  #ContenedorCarta::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  #ContenedorCarta::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  

#titleCarta{
    text-align: center;
}

.fechaCarta{
    background: #005195;
    padding: 05px;
    border-radius: 10px;
    font-size: 10px;
}

#botonDescargar{
    border: #005195 2px solid;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: black;
    text-decoration: none;
    margin: 10px;
}

#botonDescargar:active{
    background-color: #005195;
    color: black;
    border: 2px solid ;

}

/* Cartas de ella */

.titleCartasElla{
    background-color: black;
    color: #005195;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.titleCartasElla img{
    width: 10vh;
    border-radius: 30%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    
}

.titleCartasElla{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
  }
  
.titleCartasElla.active {
    opacity: 1;
    transform: translateY(0);
}

.titleCartasElla:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}


.titleCartasElla img {
    animation-name: pulse;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
