:root{
    --azul-50: #f0f9ff;
    --azul-100: #e0f3fe;
    --azul-200: #bae8fd;
    --azul-300: #7ed6fb;;
    --azul-400: #39c1f7;;
    --azul-500: #0faae8;;
    --azul-600: #0391d3;;
    --azul-700: #046da0;;
    --azul-800: #085c84;;
    --azul-900: #0c4c6e;;
    --azul-950: #083049;;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/*      header      */

.header--encabezado{
    width: 100%;
    min-width: 320px;
    height: 32vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    filter: brightness(130%);
    background-image: url("https://i.ibb.co/ZY15ZMx/video1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header--card-action{
    position: relative;
    top: 20%;
    color: var(--azul-50);
    text-align: center;
    padding: 10px;
    border-radius: 20px 6px;
    font-size: 1.4rem;
    background-color: var(--azul-950);
}


/*          aside         */

aside{
    width: 100%;
    min-width: 320px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.aside--botones-El-Ella{
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botones-el-ella{
    width: 40%;
    max-width: 366px;
    margin: 5%;
    padding: 2%;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;  
    text-decoration: none; 
    border-radius: 15px;
    color: var(--azul-50);
    background-color: var(--azul-800); 
}


/* notas dinamicas del aside */

.notasDinamicas{
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 200px;
    max-width: 400px;
    margin: 30px auto;
    padding: 3%;
    border-radius: 12px;
    background-color: var(--azul-800);
    box-shadow: 3px 12px 15px 4px var(--azul-950);
}

.Nota{
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--azul-100);
}


#actualizarNotaBoton{
    margin: 10px auto;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 15px;
    color: var(--azul-50);
    background-color: var(--azul-900);
    border: var(--azul-500);
}

#actualizarNotaBoton:active{
    color: var(--azul-900);
    background-color: var(--azul-50);
    border: var(--azul-300);
}


        /* tablas con listado de cartas */
.container-list-cartas{
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    border-radius: 16px;
    background-color: var(--azul-600);
}

.container-list-cartas .container--title-date{
    width: 100%;
    margin: 20px auto;
    text-align: center;
    font-size: 1.4rem;
}

.tables-lista-cartas{
    width: 40%;
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    flex-direction: row;;
}

.tables-lista-cartas tbody{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.tables-lista-cartas a, .tables-lista-cartas th{
    width: 100%;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--azul-950);
}

/* Encabezados El/Ella */

.Encabezado-cartas{
    width: 80%;
    min-width: 318px;
    height: 11vh;
    position: sticky;
    top: -20px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px 66px;
    background: rgb(8,48,73);
    background: linear-gradient(90deg, rgba(8,48,73,1) 0%, rgba(12,76,110,1) 49%, rgba(4,109,160,1) 100%);
    box-shadow: 6px 8px 10px 8px var(--azul-950);
}

.contenedorTextoTargeta{
    width: 60%;
    padding: 14px;
    font-size: 1.3vh;
    color: var(--azul-100);
}

.imagen-encabezado-cartas{
    width: 40%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px 70px;
}

/* Mensaje de informacion */

.Mensaje-Visualizar-carta{
    display: flex;
    justify-content: center;
    width: 80%;
    font-size: 1.6vh;
    font-style: oblique;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
    background-color: #0391d3;
}



/* Estilos de cartas */

.Contenedor-Cartas-principal{
    width: 100%;
    min-width: 320px;
    height: calc(100%  + 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-carta-individual{
    width: 60%;
    min-width: 320px;
    height: 60vh;
    margin: 30px;
    padding: 60px;
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    overflow: auto;
    border-radius: 15%;
    color: var(--azul-50);
    font-weight: 100;
    background-color: var(--azul-950);
}

.title-carta{
    width: 100%;
    text-align: center;
    font-size: 2.3vh;
}

.fecha-carta{
    width: 100%;
    font-size: 1.6vh;
    margin-bottom: 30px;
    text-align: center;
}

.Carta{
    width: 100%;
    font-size: 1.6vh;
    text-align: center;
}

/*      footer      */


footer{
    width: 100%;
    min-width: 320px;
    min-width: 320px;
    height: 35dvh;
    margin-bottom: none;
    background-color: var(--azul-950)
}