/* Pie de Pagina */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

footer {
  width: 100%;
  height: 100%;
  min-width: 320px;
  padding: 20px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.contenidoPiePagina {
  margin: 0 auto;
}

.contenidoPiePagina p {
  margin-bottom: 10px;
  font-size: 2vw;
}

.linksPiePagina {
  list-style: none;
  padding: 0;
}

.linksPiePagina li {
  display: inline;
  margin-right: 15px;
}

.linksPiePagina li:last-child {
  margin-right: 0;
}

.linksPiePagina a {
  text-decoration: none;
  color: #a09f9f;
  font-size: 2.1vw;
}

#textMiTodo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.DerechosReservados{
  font-size: 2vw;
}

.elementos-Mi-todo{
  color: rgba(255, 255, 255, 0.792);
  font-size: 0.8rem;
  width: 20%;
  margin: 10px;
} 
