@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Noto+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@1,100&display=swap');

/* font-family: 'Lovers Quarrel', cursive; logo
font-family: 'Noto Serif', serif; body
font-family: 'Goudy Bookletter 1911', serif; #Notas*/
/* font-family: 'Sofia Sans Condensed', sans-serif; otros */

  
body{
    background: rgb(189, 189, 189);
}

.contenedorPrincipal{
    background: #171601;
}
    /* Borde dorado en movimiento */
@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
  
.border-gradient {
    border: 4px solid transparent;
    border-image: linear-gradient(to right, #000000, #9b7a00, #ffd700);
    border-image-slice: 1;
    animation: gradient-animation 4s infinite linear;
}

.alinearEncabezado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 80px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 999;
}

#encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background: black;
    padding: 10px;
    width: 95%;
    font-size: 13px;
}
#contenedorLogo{
    display: flex;
    flex-direction: row;
    align-items: center;

}

#contenedorLogo img{
    width: 15%;
    /* height: 20%; */
}

.Logo{
    color: gold;
    font-family: 'Lovers Quarrel', cursive;
    font-size: 40px;
}



                    /* Menu */
.dropdown {
    position: relative;

}
.dropdown-btn{
    color: rgb(195, 166, 0);
    background: black;
    border: none;
}
.dropdown-content a{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-bottom: 5px; 
    border: 1px solid gold;
    padding: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: black;
    

}
    
.dropdown-content.active {
    display: block;
}
    



/* Imagen */

.contenedorImagenInicioPagina{
    border: 10px solid black;
    display: flex;
    flex-direction: column;
}

/* Imagen Historia */
#contenedorImagenesPortadaHistoria{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#imagenInicioPaginaHistoria{
    width: 50%;
}

/* Fin de encabezado */

#ContenedorGeneral{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 3px solid mediumorchid;
    color: white;
}

#NotificacionPerzonalizada{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 3px solid mediumorchid;
    color: white;
}

#NotificacionPerzonalizada input{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 40%;
    color: black;
    font-size: 100%;
    text-align: center;
}
#NotificacionPerzonalizada button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin: 15px;
    padding: 5px;
    font-size: 80%;
    text-align: center;
    background-color: #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: gold 2px solid;
    border-radius: 10px;
}

#NotificacionPerzonalizada button:active{
    background-color: gold;
    color: black;
    border: white 2px solid;
}

#NotificacionActualizacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 3px solid mediumorchid;
    color: white;
}

#NotificacionActualizacion div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    color: black;
    font-size: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
#NotificacionActualizacion button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin: 15px;
    padding: 5px;
    font-size: 80%;
    text-align: center;
    background-color: #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: gold 2px solid;
    border-radius: 10px;
}

#NotificacionActualizacion button:active{
    background-color: gold;
    color: black;
    border: white 2px solid;
}



/* Pie de Pagina */

footer {
    background-color: #0000006b;
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  .contenidoPiePagina {
    width: 100%;
    margin: 0 auto;
  }
  
  .contenidoPiePagina p {
    margin-bottom: 10px;
  }
  
  .linksPiePagina {
    list-style: none;
    padding: 0;
  }
  
  .linksPiePagina li {
    display: inline;
    margin-right: 15px;
  }
  
  .linksPiePagina li:last-child {
    margin-right: 0;
  }
  
  .linksPiePagina a {
    text-decoration: none;
    color: #a09f9f;
  }
  
  .linksPiePagina a:hover {
    text-decoration: underline;
  }