:root{
    --azul-50: #f0f9ff;
    --azul-100: #e0f3fe;
    --azul-200: #bae8fd;
    --azul-300: #7ed6fb;;
    --azul-400: #39c1f7;;
    --azul-500: #0faae8;;
    --azul-600: #0391d3;;
    --azul-700: #046da0;;
    --azul-800: #085c84;;
    --azul-900: #0c4c6e;;
    --azul-950: #083049;;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-image: linear-gradient(to top, var(--azul-950)0%, #330867 100%);
}

.header--encabezado{
    width: 100%;
    min-width: 320px;
    height: 46vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url("https://i.ibb.co/Bq6qDqp/sd.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main--container-Master-Historia{
    width: 100%;
    min-width: 320px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--azul-100);
}
.main--container-Master-Historia h2{
    width: 100%;
    text-align: center;
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: bold;
}

.main--container-Master-Historia h2:nth-child(1){
    font-size: 10vw;
    background: linear-gradient(var(--azul-50), var(--azul-500));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main--container-Master-Historia h2:nth-child(2){
    font-size: 12vw;
    background: linear-gradient(var(--azul-500), var(--azul-900));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main--container-Master-Historia .linea{
    margin: 0 auto;
    width: 70%;
    border-bottom: 2px solid #f0f9ff5b;
}


.HistoriaText{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}


.HistoriaText p{
    margin-top: 20px;
    font-size: 3.2vw;
    letter-spacing: 1px;
    text-align: justify;
    font-family: 'Goudy Bookletter 1911', serif;
}

footer{
    background-color: var(--azul-950);
}