/* font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Satisfy', cursive; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


body{

    font-family: 'Satisfy', cursive;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.653);
    width: 100%;
    height: 8vh;
    color: aliceblue;
    text-align: center;
    font-size: 1rem;
}

.Logo{
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.Logo h1{
    color: white;
    font-size: 120%;
}

.elementoParaVolverAtras a{
    width: 20%;
    color: white;
}


/* Main */

.alineador-Informacion-Datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.informacion h1{
    padding: 1rem;
    font-size: 2rem;
}

.informacion{
    font-size: 1.7rem;
    text-align: center;
    margin: 20px;
    width: 80%;
    padding: 20px;
    height: max-content;
    color: white;
    border-radius: 60px;
}


.contendorInformacionDatos h2{
    text-align: center;
    padding: 0.2rem;
}

.contendorInformacionDatos{
    font-size: 1.5rem;
    margin: 10px;
    width: 80%;
    padding: 20px;
    height: max-content;
    border: 2px solid black;
    border-radius: 30px;
    color: aliceblue;
    background: rgba(0, 0, 0, 0.399);
}

.contendorInformacionDatos li{
    margin-bottom: 1.4rem;
}


.Juego{
    width: 100%;
    min-height: 27vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarjeta{
    font-family: 'Dancing Script', cursive;
    display: none;
    font-size: 2.6rem;
    padding: 20px;
    text-align: center;
    width: 200px;
    min-height: 200px;
    max-width: 400px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.681);
    border-radius: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.582);

}

.boton-Jugar{
    font-family: 'Lobster', cursive;
    width: 100px;
    height: max-content;
    padding: 20px;
    margin: 20px;
    border-radius: 30px 0 30px 0;
    color: antiquewhite;
    background-color: #6359e0;
}




.boton-Jugar {
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  @keyframes bounce {
      0% {transform: translateY(0);}
      50% {transform: translateY(-10px);}
      100% {transform: translateY(0);}
  }


footer{
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    padding: 20px;
    font-size: 1.5rem;
}