/* fuentes 
  font-family: "Cherry Cream Soda", system-ui;
  font-family: "Edu SA Beginner", cursive;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedorMaster {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: white;
}

.contenedorGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-image: url(https://i.ibb.co/6Nb6G33/Nuevo-Login-mobile.webp);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedorLogo {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenedorLogo .contenedorLogoLogo {
    margin-top: 3vh;
    font-size: 15vw;
    color: white;
    font-family: "Cherry Cream Soda", system-ui;
}

.contenedorLogo .contenedorLogoSlogan {
    font-size: 6vw;
    color: white;
    font-family: "Edu SA Beginner", cursive;
}

main {
    width: 100vw;
    border-radius: 16% 16% 0 0;
}

.contenedorBotones1 {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.botonIrPassContenedorBotones1 {
    width: 30%;
    padding: 1.6vh;
    font-size: 4vw;
    text-decoration: none;
    font-weight: bold;
    border-radius: 16px;
    text-align: center;
    color: white;
    background-color: #2D2F59;
}

.textoContenedorBotones1 {
    font-size: 8vw;
    color: white;
}

.contenedorGeneralBotonesPass {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffffb9;
    display: none;
}

.contenderorGeneralFechas {
    width: 80%;
    margin-top: 2vh;
    color: #2D2F59;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenderorGeneralFechas h2 {
    text-align: center;
}

.contenderorGeneralFechas p {
    text-align: start;
    margin: 4vh 0;
}

.contenderorGeneralFechas i {
    font-size: 4vw;
    text-align: center;
    margin: 4vh 0;
}

.contenderorGeneralFechas label {
    text-align: center;
    margin: 1.7vh 0;
}

.contenedorElementosPass {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    color: #2D2F59;
    background-color: #2d2f594a;
    margin: 3vh 0;
    padding: 4vw;
}

.contenedorElementosPass label {
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 2vh;
}

.ContenedorRespuesta {
    width: 40%;
    text-align: center;
    border-radius: 18%;
    padding: 2vw;
    margin-top: 2vh;
}

#accessCode,
.inputs {
    border-radius: 9px;
    font-size: 4vw;
    width: 70%;
    height: 4vh;
    color: black;
    text-align: center;
    border: none;
    margin-bottom: 1vh;
    background-color: #F2C5BB;
}

.textPassIncorrecto {
    width: 60%;
    color: red;
    display: none;
    text-align: start;
    font-size: 3vw;
}

.botonVerificar,
#verificarFechas {
    border-radius: 9px;
    font-size: 4vw;
    width: 40%;
    height: 5vh;
    color: white;
    background-color: #2D2F59;
    border: none;
}