/* fuentes 
  font-family: "Cherry Cream Soda", system-ui;
  font-family: "Edu SA Beginner", cursive;
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedorMaster {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: white;

}

.contenedorGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-image: url(https://i.ibb.co/6Nb6G33/Nuevo-Login-mobile.webp);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedorLogo {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenedorLogo .contenedorLogoLogo{
    margin-top: 3vh;
    font-size: 15vw;
    color: white;
    font-family: "Cherry Cream Soda", system-ui;
}

.contenedorLogo .contenedorLogoSlogan {
    font-size: 6vw;
    color: white;
    font-family: "Edu SA Beginner", cursive;
}

.contenedorBotones1 {
    height: 800%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* display: none; */
}

.botonIrPassContenedorBotones1 {
    width: 50vw;
    padding: 10%;
    font-size: 5vw;
    text-decoration: none;
    font-weight: bold;
    border-radius: 16px;
    text-align: center;
    color: white;
    background-color: #2D2F59;
}

.textoContenedorBotones1 {
    font-size: 8vw;
    color: white;
}

.contenedorGeneralBotonesPass {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contenedorElementosPass {
    width: 80%;
    height: 76%;
    position: relative;
    top: -10vh;
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    color: white;
    background-color: #0460d99f;
}

.contenedorElementosPass label {
    font-size: 5vw;
    font-weight: bold
}

.contenedorElementosPass input{
    border-radius: 9px;
    font-size: 4vw;
    width: 70%;
    height: 4vh;
    color: black;
    text-align: center;
    border: none;
    background-color: #F2C5BB;
    
}

.contenedorElementosPass button{
    border-radius: 9px;
    font-size: 4vw;
    width: 40%;
    height: 5vh;
    color: white;
    background-color: #2D2F59;
    border: none;
    
}