.contenedorPrincipal{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

.Imagen-Principal-Pagina {
    height: 600px;
}

.Texto-Imagen-Principal {
    height: 35%;
    font-size: 1.8rem;
}

.SeccionDespuesEncabezado {
    order: 1;
}

.Iconos{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    order: 2;
    width: 50%;
}

.contenedorDistancia{
    width: 90%;
}

.avionVolando{
    width: 60%;
}

.diasJuntos{
    width: 40%;
}

.frasesCanciones{
    width: 100%;
}

.mensajePrincipal{
    font-size: 2rem;
    width: 70%;
    order: 4;
}

.loNuevo{
    order: 3;
    width: 50%;
    font-size: 1.5rem;
}

.loNuevo h3{
    font-size: 1.6rem;
}

.mastext{
    width: 100%;
    font-size: 1.6rem;
    order: 5;
}

#footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    order: 6;
}

.linksPiePagina {
    font-size: 1.6rem;
}

#texMiTodo{
    font-size: 1.8rem;
}

.elementos-Mi-todo{
    position: relative;
    font-size: 1.6rem;
}