:root{
    --azul-50: #f0f9ff;
    --azul-100: #e0f3fe;
    --azul-200: #bae8fd;
    --azul-300: #7ed6fb;;
    --azul-400: #39c1f7;;
    --azul-500: #0faae8;;
    --azul-600: #0391d3;;
    --azul-700: #046da0;;
    --azul-800: #085c84;;
    --azul-900: #0c4c6e;;
    --azul-950: #083049;;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--azul-50);
}

/* Header */

header{
    background: transparent;
    height: auto;
}

.header--barra-inferior{
    width: 100%;
    min-width: 320px;
    min-height: 10vh;
    border: none;
}

.header--encabezado{
    width: 100%;
    min-width: 320px;
    height: 46vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url("https://i.ibb.co/nRRp0fQ/Principal-Telefono.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header--card-action{
    position: relative;
    width: max-content;
    min-width: 100px;
    height: max-content;
    padding: 20px;
    top: 40px;
    font-size: 3vw;
    text-align: center;
    color: var(--azul-100);
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.411);
}

.header--card-action a{
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    font-size: 2.8vw;
    color: var(--azul-50);
    text-decoration: none;
    border-radius: 9px;
    background-color: var(--azul-500);
}
/* 
.header--card{

} */

.header--bienvenida{
    width: 100%;
    height: max-content;
    font-size: 3vw;
    color: var(--azul-50);
    margin: 0 auto;
    padding: 20px;
    padding-top: 15%;
    background-color: var(--azul-900);
}


.header--bienvenida span{
    display: block;
    width: 25vw;
    height: 12vh;
    margin: 0 auto;
    margin-bottom: 5px;
    background-image: url("https://i.ibb.co/fXnc5Vm/Sentados-en-una-banca.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
}

/* Main */

.mensajePrincipal{
    width: 100%;
    margin: 0 auto;
    background: var(--azul-500);
}

.mensajePrincipal article{
    width: 100%;
    padding: 5vw;
    font-size: 3vw;
    color: var(--azul-50);
}

.mensajePrincipal img{
    width: 25vw;
    max-width: 350px;
}

/* Video de aniversario disponible */
.container-Video-Aniversario{
    width: 100%;
    min-width: 320px;
    padding: 2vh;
    font-size: 6vw;
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: white;
    background: var(--azul-800);
    background-image: url("https://img.freepik.com/foto-gratis/fondo-abstracto-textura_1258-30496.jpg?w=740&t=st=1696277185~exp=1696277785~hmac=e0c52d7ee50399e2006cd674d648ca5f8f11ae20c0c14263911a821882a2d9dd");
    background-position: center;
    background-size: cover;
}

.container-Video-Aniversario h4 {
    font-size: 4vw;
    font-weight: lighter;
    color: rgb(213, 213, 213);
} 

.container-Video-Aniversario a{
    width: 40%;
    display: inline-block;
    background: var(--azul-900);
    padding: 8px;
    border-radius: 15px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    
}

.container-Video-Aniversario a:hover{   
    background-color: #f0f9ff; 
    color: var(--azul-950);
    border: 2px solid var(--azul-700);
}


/*          aside        */

aside{
    width: 60%;
    min-width: 320px;
    padding: 30px;
    margin: 40px auto;
    border-radius: 14px;
}

.container-recuerdo-tex{
    width: 100%;
    font-size: 3vw;
    text-align: center;
}

.container-recuerdo-tex h2:nth-child(1){
    color: var(--azul-400);
}

.container-recuerdo-tex h2:nth-child(2){
    color: var(--azul-700);
}

.carousel {
    position: relative;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel__track {
    display: flex;
    transition: transform 0.5s cubic-bezier(0.82, -0.35, 0.96, 0.61);
}

.carousel__slide {
    width: 100%;
    flex: 0 0 auto;
    opacity: 0.5;
    transition: opacity 0.5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.carousel__slide.current-slide {
    opacity: 1;
}

.carousel__image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Tabla de Datos */

.main-sobre-nosotros{
    width: 70%;
    min-width: 320px;
    margin: 15px auto;
    padding: 15px;
    background: linear-gradient(90deg, rgba(8,48,73,1) 0%, rgba(12,76,110,1) 49%, rgba(4,109,160,1) 100%);
}

.main-sobre-nosotros h2{
    width: 100%;
    font-size: 3vw;
    text-align: center;
    margin: 10px;
    color: var(--azul-50);
}

.main-sobre-nosotros table{
    width: 100%;
    table-layout:fixed; 
    font-size: 2vw;
}

.main-sobre-nosotros tr{
    padding: 10px;
    width: 60px;
    height: 40px;
    text-align: center;
}

.main-sobre-nosotros th{
    border-radius: 12px;
    color: var(--azul-50);
}

.main-sobre-nosotros td{
    border-radius: 4px;
    color: var(--azul-100);
}


.main-parrafo{
    width: 90%;
    margin: 40px auto;
    text-align: center;
    font-size: 3vw;
}

.main-parrafo h3{
    color: var(--azul-900);
}

.main-parrafo p{
    margin-bottom: 10px;
}
.main-parrafo i{
    color: var(--azul-600);
}

footer{
    width: 100%;
    min-width: 320px;
    height: 35dvh;
    margin-bottom: none;
    background-color: var(--azul-950)
}
