:root {
    --azul-50: #f0f9ff;
    --azul-100: #e0f3fe;
    --azul-200: #bae8fd;
    --azul-300: #7ed6fb;
    ;
    --azul-400: #39c1f7;
    ;
    --azul-500: #0faae8;
    ;
    --azul-600: #0391d3;
    ;
    --azul-700: #046da0;
    ;
    --azul-800: #085c84;
    ;
    --azul-900: #0c4c6e;
    ;
    --azul-950: #083049;
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--azul-50);
}


/* Header */

header {
    background: transparent;
    height: auto;
}

.header--barra-inferior {
    width: 100%;
    min-width: 320px;
    min-height: 10vh;
    border: none;
}

.header--encabezado {
    width: 100%;
    min-width: 320px;
    height: 46vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url("https://i.ibb.co/nRRp0fQ/Principal-Telefono.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header--card-action {
    position: relative;
    width: max-content;
    min-width: 100px;
    height: max-content;
    padding: 20px;
    top: 40px;
    font-size: 3vw;
    text-align: center;
    color: var(--azul-100);
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.411);
}

.header--card-action a {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    font-size: 2.8vw;
    color: var(--azul-50);
    text-decoration: none;
    border-radius: 9px;
    background-color: var(--azul-500);
}


/* 
.header--card{

} */

.header--bienvenida {
    width: 100%;
    height: max-content;
    font-size: 3vw;
    color: var(--azul-700);
    margin: 0 auto;
    padding: 20px;
    padding-top: 15%;
    background-color: #ebf5fa;
}

.header--bienvenida span {
    display: block;
    width: 25vw;
    height: 12vh;
    margin: 0 auto;
    margin-bottom: 5px;
    background-image: url("https://i.ibb.co/fXnc5Vm/Sentados-en-una-banca.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    filter: contrast(80%);
}

.header--bienvenida p {
    text-align: center;
}


/* Main */

.main--containerGeneral-Info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    background: var(--azul-950);
}

.main--container-info-proximoAniversario {
    width: 50%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    color: var(--azul-100);
    font-weight: bold;
    box-sizing: border-box;
}

.main--container-info-diasParaVernos {
    width: 50%;
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    font-weight: bold;
    color: var(--azul-100);
    text-align: right;
    background-image: url(https://i.ibb.co/qMTZ5Q7/1699392985704.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main--container-info-diasParaVernos p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #08304962;
    padding-right: 8px;
}

.main--container-info-diasParaVernos #numeoroDiasParaVernos,
#numeroProximoAniversario {
    font-size: 15vw;
    font-weight: bold;
    letter-spacing: 1vw;
    color: var(--azul-500);
    text-shadow: 0px 0px 50px var(--azul-50);
}

.mensajePrincipal {
    width: 100%;
    margin: 0 auto;
    background: var(--azul-700);
}

.mensajePrincipal article {
    width: 100%;
    padding: 5vw;
    font-size: 4vw;
    color: var(--azul-50);
}

.mensajePrincipal img {
    width: 25vw;
    max-width: 350px;
}

.contenedorYeethaIgualPrincess {
    width: 100%;
    min-width: 320px;
}

.contenedorYeethaIgualPrincess article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vh;
    font-size: 4vw;
    color: var(--azul-950);
    font-weight: bold;
}


/* Video de aniversario disponible */

.container-Video-Aniversario {
    width: 100%;
    min-width: 320px;
    padding: 2vh;
    font-size: 6vw;
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: white;
    background-image: url("https://i.ibb.co/qMTZ5Q7/1699392985704.jpg");
    background-position: center;
    background-size: cover;
    filter: opacity(90%);
    filter: contrast(120%);
}

.container-Video-Aniversario h4 {
    font-size: 4vw;
    font-weight: lighter;
    color: rgb(243, 239, 239);
}

.container-Video-Aniversario a {
    width: 40%;
    display: inline-block;
    background: #083049c0;
    padding: 8px;
    border-radius: 15px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.container-Video-Aniversario a:hover {
    background-color: #f0f9ff;
    color: var(--azul-950);
    border: 2px solid var(--azul-700);
}


/*          aside        */

aside {
    width: 60%;
    min-width: 320px;
    padding: 30px;
    margin: 40px auto;
    border-radius: 14px;
}

.container-recuerdo-tex {
    width: 100%;
    font-size: 3vw;
    text-align: center;
}

.container-recuerdo-tex h2:nth-child(1) {
    color: var(--azul-400);
}

.container-recuerdo-tex h2:nth-child(2) {
    color: var(--azul-700);
}

.carousel {
    position: relative;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel__track {
    display: flex;
    transition: transform 0.5s cubic-bezier(0.82, -0.35, 0.96, 0.61);
}

.carousel__slide {
    width: 100%;
    flex: 0 0 auto;
    opacity: 0.5;
    transition: opacity 0.5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.carousel__slide.current-slide {
    opacity: 1;
}

.carousel__image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.main-parrafo {
    width: 90%;
    margin: 40px auto;
    text-align: center;
    font-size: 4vw;
}

.main-parrafo h3 {
    color: var(--azul-900);
}

.main-parrafo p {
    margin-bottom: 10px;
}

.main-parrafo i {
    color: var(--azul-600);
}

.main--contenedor-general-MasEnlaces {
    width: 100%;
    min-width: 320px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-general-MasEnlaces--enlaceSobreNosotros {
    width: 80%;
    min-width: 260px;
    min-height: 15vh;
    margin: 4vh 0;
    border-radius: 18px;
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: var(--azul-900);
    text-decoration: none;
    box-shadow: 13px 10px 17px black;
}

.Enlace-sobreNosotros--contenedor-miniImagen {
    width: 30%;
    background-image: url("https://i.ibb.co/pLsRNtX/Pareja-con-rosas.png");
    background-position: center;
    background-size: cover;
}

.contenidoEnlaceSobreNosotros {
    width: 70%;
}

.contenidoEnlaceSobreNosotros h3 {
    font-size: 6vw;
    color: var(--azul-50);
}

.contenidoEnlaceSobreNosotros p {
    margin-top: 10%;
    font-size: 4vw;
    font-style: italic;
    color: var(--azul-200);
}

.mensajeOtro {
    width: 100%;
    min-width: 320px;
    padding: 3vh;
    text-align: center;
    color: var(--azul-900);
    font-size: 4vw;
}


/* Tabla de Datos */

.main-sobre-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contenedor-Elementos-Sobrenosotros {
    width: 70%;
    min-width: 320px;
    padding: 15px;
    font-size: 4vw;
    background: var(--azul-50);
    color: var(--azul-950);
}

.main-sobre-nosotros h2 {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.main-sobre-nosotros table {
    width: 100%;
    table-layout: fixed;
}

.main-sobre-nosotros tr {
    padding: 10px;
    width: 60px;
    height: 40px;
    text-align: center;
}

.main-sobre-nosotros th {
    border-radius: 12px;
}

.main-sobre-nosotros td {
    border-radius: 4px;
}

footer {
    width: 100%;
    min-width: 320px;
    height: 35dvh;
    margin-bottom: none;
    background-color: var(--azul-950)
}