:root{
    --azul-50: #f0f9ff;
    --azul-100: #e0f3fe;
    --azul-200: #bae8fd;
    --azul-300: #7ed6fb;;
    --azul-400: #39c1f7;;
    --azul-500: #0faae8;;
    --azul-600: #0391d3;;
    --azul-700: #046da0;;
    --azul-800: #085c84;;
    --azul-900: #0c4c6e;;
    --azul-950: #083049;;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--azul-50);
}

/* Header */

header{
    background: transparent;
}

.header--barra-inferior{
    width: 100%;
    min-width: 320px;
    min-height: 10vh;
    border: none;
}

.header--encabezado{
    width: 100%;
    min-width: 320px;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url("https://i.ibb.co/5jL42KB/Imagen-Principal.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.header--card-action{
    position: relative;
    width: max-content;
    min-width: 100px;
    height: max-content;
    padding: 20px;
    top: 40px;
    font-size: 1.2rem;
    text-align: center;
    color: var(--azul-100);
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.411);
}

.header--card-action a{
    display: block;
    width: 70%;
    max-width: 100px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    color: var(--azul-50);
    text-decoration: none;
    border-radius: 9px;
    background-color: var(--azul-500);
}
/* 
.header--card{

} */

.header--bienvenida{
    width: 70%;
    max-width: 400px;
    height: max-content;
    font-size: 1.2rem;
    color: var(--azul-50);
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px;
    border-radius: 9px;
    background-color: var(--azul-900);
    box-shadow: 13px 12px 20px 0px var(--azul-950);
    border: inset 3px var(--azul-50);
}


.header--bienvenida span{
    display: block;
    width: 150px;
    height: 75px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("https://i.ibb.co/fXnc5Vm/Sentados-en-una-banca.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Main */


.mensajePrincipal{
    width: 95%;
    margin: 20px auto;
    border-radius: 9px;
    background: var(--azul-500);
    box-shadow: 13px 12px 10px 0px var(--azul-400);
}

.mensajePrincipal article{
    width: 100%;
    padding: 15px;
    font-size: 1.4rem;
    color: var(--azul-50);
}

.mensajePrincipal img{
    width: 60%;
    max-width: 250px;
}




/*          aside        */

.aside--container-recuerdos-img {
    width: 100%;
    min-width: 320px;
    margin: 30px 0px 30px 0px;
    min-height: 30vh;
    max-height: 40vh;
    padding: 10px;
    border: white 1px solid;
    background-color: var(--azul-100);
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    overflow: scroll;
}

.aside--container-recuerdos-img  img{
    width: 90px;
    border-radius: 15px;
    margin-left: 10px;
    border: var(--azul-200) 5px solid;
    aspect-ratio: 9/16;
    object-fit: cover;
}

.aside--container-recuerdos-img  img:hover{
    width: 120px;
    max-height: 80%;
    object-fit: fill;
}

.container-recuerdo-tex{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
}

.container-recuerdo-tex h2:nth-child(1){
    color: var(--azul-400);
}

.container-recuerdo-tex h2:nth-child(2){
    color: var(--azul-800);
}


/* Tabla de Datos */

.main-sobre-nosotros{
    width: 96%;
    min-width: 320px;
    margin: 0 auto;
    border: 3px solid var(--azul-400);
    border-radius: 16px;
    background: var(--azul-500);
    box-shadow: 13px 12px 20px 0px var(--azul-950);
}

.main-sobre-nosotros h2{
    width: 100%;
    text-align: center;
    margin: 10px;
    color: var(--azul-50);
}

.main-sobre-nosotros table{
    width: 100%;
    table-layout:fixed; 
    font-size: 1.3rem;
}

.main-sobre-nosotros tr{
    padding: 10px;
    width: 60px;
    height: 40px;
    text-align: center;
    background-color: var(--azul-800);
}

.main-sobre-nosotros th{
    border: 1px solid var(--azul-50);
    border-radius: 12px;
    color: var(--azul-50);
}

.main-sobre-nosotros td{
    border-radius: 4px;
    color: var(--azul-100);
}


.main-parrafo{
    width: 90%;
    margin: 40px auto;
    text-align: center;
    font-size: 1.4rem;
}

.main-parrafo h3{
    color: var(--azul-900);
}

.main-parrafo p{
    margin-bottom: 10px;
}
.main-parrafo i{
    color: var(--azul-600);
}

footer{
    width: 100%;
    min-width: 320px;
    height: 35dvh;
    margin-bottom: none;
    background-color: var(--azul-950)
}
